body{
    font-family: 'Roboto', sans-serif !important;;
    background: white;
}


.container{
    max-width: 1354px;
    padding: 0px;
}
.menu ul li{
    display: inline;
    padding: 0px 10px 0px 10px;
    font-size: 20px;
}

.btn-default {
    border-color: #4a90e2 !important;
    background: #4a90e2 !important;
    color: white !important;
    font-weight: bold !important;
    font-size: 14px !important;
}
.content{
	display: none;
}
.ala{
	height: 300px;
}

.row p{
	text-align: center;
}
